.topmenuitem {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    cursor: pointer;
}
.topmenutext {
    font-family: 'Montserrat';
    padding-left: 10px;
    margin-top: 0px;
    font-size: 16px;
}
.statswrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    top: -10px;
    right: -17px;
    width: 19px;
    height: 19px;
    background-color: indianred;
}

.statstext {
    color: white;
    font-size: 13px;
}

