.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:  url('../../images/newandalucia.jpg');
    background-size: cover;
    font-family: 'Montserrat', sans-serif;

    > h1 {
        color: white;
        font-size: 80px;
        font-weight: 900;
    }
}